<div class="card"> 

    <div class="card-body">  

      <form>  

        <div class="form-group">  
          <label class="col-md-4">Student RollNo</label>  
          <input type="number" class="form-control" />  
        </div>  

        <div class="form-group">  
          <label class="col-md-4">Student Name </label>  
          <input type="text" class="form-control" />  
        </div> 

        <div class="form-group">  
          <label class="col-md-4">Student percentage</label>  
          <input type="number" class="form-control" />  
        </div>  

        <div class="form-group">  
          <button type="submit" class="btn btn-primary">Insert student record</button>  
        </div>  

      </form>  

    </div>  

  </div> 
